extends ./bootstrap

mixin content()
    div.panel.panel-heading 台南鹽水機房
    div.panel.body
        table.table
            tr
                th 溫度
                td= temp + " ℃"
                    div(style="float: right;"): p= "( 警戒值: " + triggerTemp  + "℃ )"
            tr
                th 濕度
                td= humid + " %RH"
                    div(style="float: right;"): p= "( 警戒值: " + triggerHumid  + "%RH )"
            tr
                th 煙霧偵測狀態
                td <模組未啟用>
            tr
                th 入侵偵測狀態
                if invaded == 0
                    td: font(color="green") 沒有偵測到入侵者
                else
                    td: font(color="red"): b 偵測到入侵者！
            tr
                th 警鈴狀態
                if mute == 0
                    td: font(color="green") 開啟
                        div(style="float: right;"): a.btn.btn-default(href="/toggleMute") 關閉警鈴
                else
                    td: font(color="red"): b 關閉
                        div(style="float: right;"): a.btn.btn-default(href="/toggleMute") 開啟警鈴

block title
    title P.E.M.O.S
    meta(http-equiv="refresh", content= refresh + '; url="/"')

block content
    div.jumbotron
        div.container
            h1 P.E.M.O.S
            h2 普羅米修斯機房監控整合解決方案
            span Powered by Lorex L. Yang &lt;joe50613@gmail.com&gt;
    if muteToggled == 1
        div.row
            div.container
                div.alert.alert-success
                    p <b>成功！</b>您已經成功調整警鈴狀態。
    div.container
        div.col-lg-5
            div.row
                h2 概觀
            div.row
                if( invaded == 0 )
                    div.panel.panel-primary
                        +content
                else
                    div.panel.panel-danger
                        +content

                    
        div.col-lg-5.col-lg-offset-2
            div.row
                h2 系統資訊
            div.row
                div.panel.panel-info
                    div.panel.panel-heading P.E.M.O.S
                    table.table
                        tr
                            th 頁面更新間隔
                            td= "每 " + refresh + " 秒"
                        tr
                            th 版本
                            td= appVersion
                        tr
                            th API 版本
                            td= apiVersion
                        tr
                            th 作者資訊
                            td Lorex L. Yang &lt;<a href="mailto:joe50613@gmail.com"> joe50613@gmail.com </a>&gt;
                        tr
                            th 特別感謝
                            td
                                ul
                                    li 感謝 <a href="https://www.facebook.com/su.w.quan" target="_blank"> chiou_mark </a>協助測試系統
                                    li 感謝 <a href="https://www.facebook.com/MaHauo" target="_blank"> ADR </a>提供程式設計上的技術指導
                                    li 感謝 <a href="https://www.facebook.com/weber.cutsai" target="_blank"> Tasi </a> 提供程式設計上的技術指導


                div.panel.panel-info
                    div.panel.panel-heading 授權
                    table.table
                        tr
                            th 類別
                            td 普羅米修斯 機房授權
                        tr
                            th 到期日
                            td - ( 剩餘 無限 天 )